.logo {
    width: 150px;
}

.header-container {
    height: 350px;
    background-image: url('./assets/background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.navbar-header {
    padding: 10px;
    display: flex;
}

.max-w700 {
    max-width: 800px;
}

.justify-sb {
    justify-content: space-between;
}

.navbar > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar > ul > li {
    margin-right: 30px;
}

.search-container {
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0 2px 8px rgb(48, 48, 48, 0.3);
}
.rounded-high {
    border-radius: 25px;
}

.search-logo {
    width: 25px;
    height: 25px;
}

.search-input {
    width: 80%;
    margin-left: 20px;
    border: none;
    font-size: 18px;
}

.margin-t30 {
    margin-top: 30px;
}

.header {
    align-self: center;
}
.header-footer {
    display:flex;
    justify-content:space-between;
}

.no-outline input:focus {
    outline: none;
}

article {
    padding: 20px;
    border-top: 1 solid rgb(48, 48, 48, 0.5);
    border-bottom: 1px solid rgb(48, 48, 48, 0.3);
}


.display-f {
    display: flex;
}

.footer1 {
    flex: 30%;
}

.flex-c {
    flex-direction: column;
}

.footer-container {
    padding: 20px;
    flex-wrap: wrap;
}

.list-type-style-none {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section {
    margin: 0 20px;
}

.section > h4 {
    margin-top: 0;
    margin-bottom: 20px;
}

.social-media {
    margin-right: 20px;   
    width: 25px;
    height: 25px;
}

.logo-black {
    width: 200px;
    height: auto;
}

.no-images-header {
    display: flex;
    justify-content: center;
    margin: 200px auto;
}